<!DOCTYPE html>
<html lang="en">
<head>
   <title>Pirates Wiki</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
      <span>
         <a href="/pirates">List all Pirates</a>
         <a href="/pirates/new">Add A New Pirate</a>
      </span>
   </nav>
   {{{body}}}
</body>
</html>