<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/todos">All Todos</a></li>
        <li><a href="/todos/new">New Todo</a></li>
      </ul>
    </nav>
    {{{ body }}}
  </body>
</html>
