<h1>Add A New Pirate</h1>

<form method='POST' action="/pirates">
   <label for="name"></label>
   <input name='name' placeholder="Name">
   <br>
   <label for="birthplace"></label>
   <input name='birthplace' placeholder="Birthplace">
   <br>
   <label for="death_year"></label>
   <input name='death_year' placeholder="Death Year">
   <br>
   <label for="base"></label>
   <input name='base' placeholder="Base">
   <br>
   <label for="nickname"></label>
   <input type="nickname" placeholder="Nickname">
   <br>
   <input type="submit" value='Add Pirate'>
</form>